/* UTILITIES */
:root {
    --color-primary-background: rgb(15 23 42);
    --color-secondary-background: rgb(30 41 59);
    --color-tertiary-background: rgb(51 65 85);
    --color-primary-text: rgb(223, 225, 228);
    --color-gray: rgb(204 204 204);
    --color-accent: rgb(236 72 153);
    --color-success: rgb(20, 146, 66);
    --color-warning: rgb(255, 0, 0);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary-background: rgb(209 213 219);
        --color-secondary-background: rgb(229 231 235);
        --color-tertiary-background: rgb(226 232 240);
        --color-primary-text: rgb(0, 0, 0);
        --color-gray: rgb(146, 146, 146);
    }
}

.text-gray {
    color: var(--color-gray);
}

.text-accent {
    color: var(--color-accent);
}

.bg-success {
    background-color: var(--color-success);
}

/* DOCUMENT */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    color: var(--color-primary-text);
    background-color: var(--color-primary-background);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Remove default styling on lists and list items */
ul, ol, li {
    padding: 0;
    list-style-type: none;
}

/* Remove default styling on links and inherit the default text color */
a {
    color: inherit;
    text-decoration: none;
}

body>main {
    width: 400px;
    display: flex;
    padding: 0.25rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* START SEARCH BAR */
body>main>form {
    width: 100%;
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-secondary-background);
}

/* 
Applied to the label element, but created a reusable class
since we have other icons that will need a container
*/
.svg-container {
    padding: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Default w X H for all svg icons */
svg {
    width: 1.5rem;
    height: 1.5rem;
}

/* Increase size for the label icon only */
body>main>form>label>svg {
    width: 2.5rem;
    height: 2.5rem;
}

input#codex-search[type="text"] {
    padding: 3px;
    margin-right: 8px;
    width: 66.666666667%;
    border-radius: .25rem;
    color: var(--color-primary-text);
    border: var(--color-primary-background) 1px solid;
    background-color: var(--color-tertiary-background);
}

input#codex-search[type="text"]:focus,
input#codex-search[type="text"]:active {
    border: var(--color-accent) 2px solid;
    background-color: var(--color-tertiary-background);
}

button#search-btn {
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-radius: .25rem;
    transition-delay: 100ms;
    text-transform: uppercase;
    color: rgb(244, 239, 239);
    background-color: var(--color-success);
}

button#search-btn:hover {
    transition-delay: 100ms;
    background-color: var(--color-accent);
    transform: scaleX(1.07) scaleY(1.07);
}

/* END SEARCH BAR */

/* START SEARCH HISTORY */

/* Container */
main>ul {
    width: 100%;
    margin-top: 5px;
}

/* List Item*/
main>ul>li {
    width: 100%;
    padding: 5px;
    display: flex;
    margin-bottom: 7px;
    flex-direction: row;
    align-items: center;
    border-radius: .25rem;
    justify-content: space-between;
    background-color: var(--color-secondary-background);
}

main>ul>li:hover {
    background-color: var(--color-tertiary-background);
}

/* Section holding the text */
main>ul>li>section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Delete Icon */
.delete-icon {
    transition-delay: 100ms;
    color: var(--color-gray);
}

.delete-icon:hover {
    transition-delay: 100ms;
    color: var(--color-warning);
    transform: scaleX(1.25) scaleY(1.25);
}

/* END SEARCH History */